.custom-heading{
    font-weight: 700;
    text-transform: uppercase;
    color: 141414;
}

.custom-footer{
    color: white;
    margin-top: 2px;
    margin-bottom: 4px;
}

.name{
    color: rgb(245, 70, 70);
    font-weight: 600;
}