.custom-heading{
    font-weight: 700;
    text-transform: uppercase;
    color: 141414;
}

.custom-footer{
    color: white;
    margin-top: 2px;
    margin-bottom: 4px;
}

.name{
    color: rgb(245, 70, 70);
    font-weight: 600;
}

.calculator-screen{
    text-align: right;
    border-radius: 5px !important;
    background-color: white !important;
    border: 2px solid rgba(59, 59, 59, 0.452) !important;

    font-size: 36px !important;
}


.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none !important; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

*{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none !important; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.calculator-keys{
    background-color: white;
    border: 1px solid rgba(59, 59, 59, 0.2) !important;
    border-radius: 10px !important;
}

.op-btn{
    font-weight: 600 !important;
}

.min-mt-10{
    margin-top: -10px !important;
}

.btn-dot{
    font-weight: 600 !important;
}